			
		body {
				background-color: rgb(153, 204, 255);
				background:linear-gradient(#99ccff, white);
				color: #666;
				margin: 0;
				padding: 0;
				font-family: arial;
				font-size: 1em;
				line-height: 1.5em;
				padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
		}


		h1 {
				font-size: 2.3em;
				line-height: 1.3em;
				margin: 15px 0;
				text-align: center;
				font-weight: 300;
		}
 
		p {
				margin: 0 0 1.5em 0;
		}
	 
		img {
	
				max-width: 100%;
				height: auto;
		}


		nav {
				float: right;
		}
	
		nav ul {
				margin: 0;
				padding: 0;
				list-style: none;
				padding-right: 20px;
		}
	
		nav ul li {
				display: inline-block;
				line-height: 80px;
		}
			
		nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
		}
			
		nav ul li a:hover {
				background: #0b76a6;
		}	

		
		article ul{
				padding: 1px;
				overflow: hidden;
				background-color: rgb(51, 153, 255);
				width: 200px
				margin: 0 auto;
				}

		
		article li a{
				display: block;
				margin-left: auto;
				margin-right: auto;
				color: white;
				text-align: center;
				padding: 15px 5px;
				text-decoration: none;
				font-family: arial;
				float: none;
				}

		article li a:hover {
				background-color: rgb(102, 153, 255);
				margin: 20%
				padding: 20%;
				float: none;
				}





			#main-header {
				background: #333;
				color: white;
				height: 80px;
			}

			#main-header {
				color: white;
			}

			#logo-header {
				float: left;
				padding: 15px 0 0 20px;
				text-decoration: none;
			}

			#logo-header:hover {
				color: #0b76a6;
			}

			#logo-header .site-name {
				display: block;
				font-weight: 700;
				font-size: 1.2em;
			}

			#logo-header .site-desc {
				display: block;
				font-weight: 300;
				font-size: 0.8em;
				color: #999;
			}

			#main-content {
				background: white;
				width: 90%;
				max-width: 800px;
				margin: 20px auto;
				box-shadow: 0 0 10px rgba(0,0,0,.1);
			}
 
			#main-content header,
			#main-content .content {
				padding: 40px;
			}

			#main-footer {
				background: #333;
				color: white;
				text-align: center;
				padding: 20px;
				margin-top: 40px;
			}
			#main-footer p {
				margin: 0;
			}
	
			#main-footer a {
				color: white;
			}

			#main-header {
				background: #333;
				color: white;
				height: 80px;
				width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
				left: 0; /* Posicionamos la cabecera al lado izquierdo */
				top: 0; /* Posicionamos la cabecera pegada arriba */
				position: fixed; /* Hacemos que la cabecera tenga una posición fija */
			}	


